
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/frontend.cshtml";
}

<div class="hero page-inner overlay"
     style="background-image: url('/Files/images/hero_bg_3.jpg')">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading" data-aos="fade-up">About</h1>

                <nav aria-label="breadcrumb"
                     data-aos="fade-up"
                     data-aos-delay="200">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50"
                            aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row text-left mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    Our approach is rooted in integrity and transparency. We prioritize your needs and strive to exceed your expectations, making your real estate journey as smooth and successful as possible.
                </p>
                <p class="text-black-50">
                    Our commitment is to provide exceptional real estate services. We understand the intricacies of the market and are dedicated to guiding you every step of the way, ensuring that your experience is seamless and rewarding.
                </p>
                <p class="text-black-50">
                    At our real estate firm, we strive to address your property needs with integrity and efficiency. Whether you're buying or selling, our dedicated team ensures a smooth process, tackling challenges head-on and providing solutions tailored just for you.
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">
                    Experience unparalleled service and dedication in every real estate transaction. Our team is committed to understanding your unique needs, ensuring a seamless journey from property listing to closing.
                </p>
                <p class="text-black-50">
                    Unlock the potential of your property with our expert guidance, ensuring that every transaction is handled with care and precision, turning your real estate dreams into reality.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
                <div class="img-about dots">
                    <img src="/Files/images/hero_bg_3.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Quality properties</h3>
                        <p class="text-black-50">
                            Experience unmatched service in the real estate market, where our team is dedicated to making your property journey seamless and rewarding.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Top rated agents</h3>
                        <p class="text-black-50">
                            Discover exceptional properties that meet your needs, backed by professional guidance and a commitment to excellence. Let us help you find your ideal space!
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Easy and safe</h3>
                        <p class="text-black-50">
                            Discover your ideal home with us, where exceptional properties meet unmatched service, ensuring a seamless real estate experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section pt-0">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="img-about dots">
                    <img src="~/Files/images/hero_bg_2.jpg" alt="Image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-home2"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Quality properties</h3>
                        <p class="text-black-50">
                            Explore a world of possibilities with properties designed to meet your every need, where comfort and luxury come together seamlessly.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-person"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Top rated agents</h3>
                        <p class="text-black-50">
                            Discover homes that offer unparalleled comfort and style, where every detail is crafted for your satisfaction. Experience the joy of finding your perfect space with us.
                        </p>
                    </div>
                </div>

                <div class="d-flex feature-h">
                    <span class="wrap-icon me-3">
                        <span class="icon-security"></span>
                    </span>
                    <div class="feature-text">
                        <h3 class="heading">Easy and safe</h3>
                        <p class="text-black-50">
                            Explore properties that redefine luxury living, where every space is designed to inspire and enhance your lifestyle. Embrace the possibilities of homeownership with exceptional choices tailored to your needs and dreams.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
                <img src="/Files/images/img_1.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
                <img src="/Files/images/img_3.jpg" alt="Image" class="img-fluid" />
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
                <img src="/Files/images/img_2.jpg" alt="Image" class="img-fluid" />
            </div>
        </div>
        <div class="row section-counter mt-5">
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="300">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">2917</span></span>
                    <span class="caption text-black-50"># of Buy Properties</span>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="400">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">3918</span></span>
                    <span class="caption text-black-50"># of Sell Properties</span>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="500">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">38928</span></span>
                    <span class="caption text-black-50"># of All Properties</span>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-3"
                 data-aos="fade-up"
                 data-aos-delay="600">
                <div class="counter-wrap mb-5 mb-lg-0">
                    <span class="number"><span class="countup text-primary">1291</span></span>
                    <span class="caption text-black-50"># of Agents</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-5 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-6 mb-5">
                <h2 class="font-weight-bold heading text-primary mb-4">
                    Our Team
                </h2>
                <p class="text-black-50">
                    Discover a seamless real estate experience tailored to your needs. Our dedicated team is here to guide you every step of the way!
                </p>
            </div>
        </div>
        <div class="row">
            @Html.Partial("_team", ViewData["teamz"])
        </div>
    </div>
</div>

